@font-face {
  font-family: WorkSans;
  src: local(WorkSans),
    url(./assets/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
  font-weight: lighter;
}

body {
  font-family: WorkSans;
  background-color: #f9eeff;
}

.pattern {
  position: absolute;
  left: 0;
  top: -20rem;
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}