@font-face {
  font-family: WorkSans;
  src: local(WorkSans),
    url(./assets/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
  font-weight: lighter;
}

body {
  font-family: WorkSans;
  background-color: #f9eeff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}